<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
    	  <!-- ===============================================-->
    	  <!--    Document Title-->
        <!-- ===============================================-->
        <title>LeanTK - Login</title>


        <!-- ===============================================-->
        <!--    Favicons-->
        <!-- ===============================================-->
        <link rel="icon" href="/static/favicon.ico">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='img/leantkfull.png') }}" alt="" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars text-white fs-3"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item"><a class="nav-link" aria-current="page" a href="{{ url_for('home_page') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" a href="{{ url_for('pricing_page') }}">Pricing</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" a href="https://youtu.be/Su4aEbW_JRE" target="_blank">Tutorial</a></li>
		  <li class="nav-item"><a class="nav-link" aria-current="page" a href="{{ url_for('tools_page') }}">Tools</a></li>
              <li class="nav-item mt-2 mt-lg-0"><a class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page" a href="{{ url_for('login') }}">Log In / Register</a></li>
            </ul>
          </div>
        </div>
      </nav>
<section id="hero">
<div class="container py-3" style="margin-top:100px;">
  <div class="login">
    <h1>Login</h1>
    <div class="links">
      <a href="{{ url_for('login') }}" class="active">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="" method="post">
      <label for="username">
        <i class="fa fa-user"></i>
      </label>
      <input type="text" name="username" placeholder="Username" id="username" required>
      <label for="password">
        <i class="fa fa-lock"></i>
      </label>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <div class="msg">{{ msg }}</div>
      <input type="submit" value="Login">
    </form>
  </div>
</div>
  <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-0">

      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-6 col-sm-12"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="assets/img/black-logo.png" alt="" /></a>
          </div>
          <div class="col-lg-2 col-sm-4">
            <h3 class="fw-bold fs-1 mt-5 mb-4"><a href='mailto:founders@leantk.com', target="_blank", style="color:blue;">founders@leantk.com</a></h3>
          </div>
          <div class="col-lg-2 col-sm-4">
            <h3 class="fw-bold fs-1 mt-5 mb-4"><a href="https://www.linkedin.com/in/cristianfontana/", target="_blank", style="color:blue;">Linkedin</a></h3>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    </body>
</html>
</main>
</html>
    
