<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
    	  <!-- ===============================================-->
    	  <!--    Document Title-->
        <!-- ===============================================-->
        <title>LeanTK - Login</title>


        <!-- ===============================================-->
        <!--    Favicons-->
        <!-- ===============================================-->
        <link rel="icon" href="/static/favicon.ico">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='img/leantkfull.png') }}" alt="" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars text-white fs-3"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item"><a class="nav-link" aria-current="page" a href="{{ url_for('home_page') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" a href="{{ url_for('pricing_page') }}">Pricing</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" href="blogs.html">Tutorial</a></li>
              <li class="nav-item active mt-2 mt-lg-0"><a class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page" a href="{{ url_for('login') }}">Log In</a></li>
            </ul>
          </div>
        </div>
      </nav>

</section>
<section id="hero">
        <div class="container" style="margin-top:100px;">
            <h1 id='leantk-title'>LeanTK <br><span>Build your business model, metrics, and statements.</span></h1>
    <div class='col-sm-4'>
    <p>Build and Stress your business model, metrics and financial statements with AI in just 3 minutes.</p>
    <p>Load your data manually or import your historical data with AI from any format.</p>
      <p>With a few clicks:</p>
      <p class='list'>1. Get your standardized Statements: Balance Sheet, Income Statement (P&L) and Cash Flow Statement.
      <br>2. Connect your Statements in real-time with your investors. Easy and fast catch-ups at anytime.
      <br>3. Get your principals industry business metrics.
      <br>4. Benchmark your Startup with the industry standard.
      <br>5. Get Graphs about your business and financials.
      <br>6. Perform simulations, goal-seeking, get AI advice, machine learning, and more.
      </p>
      <p>If you have any Feature Requests or any issues with the App, do not hesitate to contact us at:</p>
      <a href="founders@leantk.com" target=_blank class='inline'>founders@leantk.com</a>
      <p class='inline'> or </p>
      <a href="https://www.linkedin.com/in/cristianfontana/" target=_blank class='inline'>Linkedin</a>
      <p>For any data analyticis, data science, machine learning or Artificial intelligence project let us know.</p>
    <p><a href="https://forms.gle/X5cuw1eZNKc9LHaDA" target=_blank>Be so kind and please leave your feedback.</a></p>
    <p><a href="https://docs.google.com/document/d/1xgP9KiNFMMe-WI7HATgHFa37EhWhQrKQZg-ZYcaSaOs/edit?usp=sharing" target=_blank>How it works (tutorial and video demo).</a></p>
  </div>
  <div class='col-sm-6'>
  <div class="login">
    <h1>Login</h1>
    <div class="links">
      <a href="{{ url_for('login') }}" class="active">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="" method="post">
      <label for="username">
        <i class="fa fa-user"></i>
      </label>
      <input type="text" name="username" placeholder="Username" id="username" required>
      <label for="password">
        <i class="fa fa-lock"></i>
      </label>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <div class="msg">{{ msg }}</div>
      <input type="submit" value="Login">
    </form>
  </div>
  </div>
	<img src="https://i.postimg.cc/tJZvgJgv/how-it-works.jpg" alt="Model Diagram" class="img-responsive">
  </div>
  </section>
</main>
</html>
    
